body {
    margin: 0;
}

header {
    text-align: center;
}

h1 {
    color: white;
    background-color: black;
    margin: 0;
    padding: 30px;
}

#navigation {
    display: flex;
    justify-content: space-evenly;
    background-color: #2D3739;
    padding: 15px;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#navigation a:hover {
    text-decoration: underline;
    font-size: 18px;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 90vw;
}

.card {
    border-radius: 10px;
    border: 1px black solid;
}

#about-card {
    margin: 30px;
}

#resource-card {
    margin: 30px 30px 30px 0;
}

li {
    padding: 5px;
}

.card h2 {
    text-align: center;
}

#utah-title {
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
}

.card-title {
    color: white;
    background-color: #475A5C;
    margin-top: 0;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#about-content {
    display: flex;
}

#utah-content {
    display: flex;
    align-items: center;
}

.about-para {
    padding: 15px;
}

.image-caption {
    text-align: center;
}

#profile-img {
    height: 200px;
    width: auto;
}

#utah-image {
    height: 100px;
}



footer p {
    margin: 0;
    padding: 10px;
}

#copyright {
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding: 15px;
}